/* Quick and simple. Yep, it's not even minified lol :) */

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

@media (min-width: 40em) {
  body {
    max-height: 100vh;
  }
}

a {
  color: #bbb;
  text-decoration: none;
}

.app {
  background-color: white;
}

@media (min-width: 60em) {
  .app {
    display: grid;
    grid-template-columns: calc(9 * 82px + 2rem) 2fr;
  }
}

.sidebar {
  background-color: white;
  border-right: 1px solid rgb(230, 230, 230);
  height: 40vh;
}

@media (min-width: 60em) {
  .sidebar {
    display: flex;
    flex-direction: column;
    height: initial;
  }
}

@media (min-width: 60em) {
  .sidebar {
    display: flex;
  }
}

main {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  height: 50vh;
  padding: 1rem;
}
@media (min-width: 60em) {
  .footer {
    height: initial;
  }
}

.emoji-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  margin-bottom: 2rem;
}

@media (min-width: 60em) {
  .emoji-actions {
    grid-template-columns: 1fr 1fr;
  }
}

.emoji-output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

@media (min-width: 60em) {
  .emoji-output {
    margin-top: 20vh;
  }
}

.emoji-info {
  background-color: #fcf3d6;
}

.emoji-result-emoji {
  margin-top: 0;
}

.emoji-result-description {
  font-size: 1.75em;
  max-width: 90%;
  text-align: center;
}

@media (min-width: 60em) {
  .emoji-result-description {
    font-size: 2.5em;
    max-width: 30em;
  }
}

.search-form-wrapper {
  position: relative;
  width: 100%;
  padding: 1rem;
}

.search {
  padding: 0.75rem;
  border: none;
  font-size: 1rem;
  outline: none;
  background: #eee;
  -webkit-appearance: none;
  width: 100%;
  border-radius: 8px;
}

.search:focus {
  font-size: inherit;
}

.emoji-container {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  max-height: 170px;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

@media (min-width: 60em) {
  .emoji-container {
    max-height: calc(100vh - 100px);
    border-bottom: none;
    height: 100vh;
  }
}

.emoji-result {
  padding: 2rem;
  text-align: center;
}

.emoji-result-emoji {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 0;
  border: none;
  outline: none;
  text-align: center;
  width: 100%;
}

@media (min-width: 60em) {
  .emoji-result-emoji {
    font-size: 96px;
  }
}

ul {
  padding: 0;
  margin: 0.5rem;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(6, calc(58px));
  justify-content: center;
}

@media (min-width: 40em) {
  ul {
    grid-template-columns: repeat(9, calc(82px));
  }
}

li {
  justify-self: center;
  list-style: none;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  transition: 400ms;
  border: 1px solid transparent;
  padding: 1rem;
}

@media (min-width: 40em) {
  li {
    font-size: 3rem;
  }
}

li:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.15);
  transform: translateY(-0.25rem);
}

li.active {
  background-color: greenyellow;
}

li[data-description="undefined"] {
  display: none;
}

a.button,
button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-shadow: none;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  background-color: white;
  color: #363636;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.button:active {
  border-color: #4a4a4a;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  color: #363636;
}

.button.is-success {
  background-color: #23d160;
  border-color: transparent;
  color: #fff;
}

.loader {
  pointer-events: none;
  display: block;
  transition: 100ms opacity ease-in-out;
  opacity: 1;
  position: absolute;
  top: 25vh;
  width: 4rem;
  height: 4rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
}

.loader.loaded {
  opacity: 0;
}

.loader:after {
  animation: loading 400ms infinite linear;
  border: 0.2rem solid rgb(99, 99, 99);
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 4rem;
  width: 4rem;
  z-index: 1;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.footer {
  margin-top: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copy {
  margin: 0;
  font-size: 0.85rem;
  margin-right: 1rem;
}

.footer a:hover {
  text-decoration: underline;
}
