* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1rem;
}

html {
	overflow-y: hidden;
}

@media (min-width: 40em) {
	body {
		max-height: 100vh;
	}
}

a {
	color: #bbb;
	text-decoration: none;
}

@media screen and (min-width: 60em) {
	.app {
		display: flex;
	}
}

.view {
	background-color: white;
	flex: 1;
}

@media screen and (min-width: 60em) {
	.view {
		display: flex;
	}
}

.view-search {
	display: flex;
	flex-direction: column;
	flex: 35%;
	background-color: #f7f7f7;
}

@media screen and (min-width: 60em) {
	.view-search {
		display: flex;
	}
}

.view-body {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

@media screen and (min-width: 60em) {
	.view-body {
		display: flex;
		flex: 65%;
	}
}

.sidebar {
	display: none;
	background-color: #191919;
	width: 50px;
	height: 100vh;
	padding: 1rem;
}

.sidebar a {
	display: block;
}

.sidebar h1 {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-size: 1rem;
	transform: rotate(-270deg);
	transform-origin: bottom left;
	text-transform: uppercase;
	color: white;
	position: absolute;
	left: 1rem;
	top: .25rem;
}

@media screen and (min-width: 60em) {
	.sidebar {
		display: block;
	}
}

.emoji-info {
	background-color: #fcf3d6;
}

.emoji-result-emoji {
	margin-top: 0;
}

.emoji-result-description {
	font-size: 2.5em;
	max-width: 30rem;
}

.search-form-wrapper {
	position: relative;
	width: 100%;
}

.search {
	padding: .75rem;
	border: none;
	font-size: 1rem;
	outline: none;
	background: #eee;
	-webkit-appearance: none;
	width: 100%;
}

.search:focus {
	font-size: inherit;
}

@media screen and (min-width: 60em) {
	.search {
		padding: 2rem;
	}
}

.emoji-container {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	max-height: 50vh;
	position: relative;
	padding: 0;
	margin: 0;
}

@media screen and (min-width: 60em) {
	.emoji-container {
		max-height: calc(100vh - 100px);
		height: 100vh;
	}
}

.emoji-result {
	padding: 2rem;
}

@media screen and (min-width: 60em) {
	.emoji-result {
		width: 30rem;
	}
}

.emoji-result-emoji {
	font-size: 96px;
	line-height: 1;
	margin-bottom: 0;
	border: none;
	outline: none;
	text-align: center;
	width: 100%;
}

ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

li {
	flex: 1 auto;
	list-style: none;
	font-size: 2rem;
	text-decoration: none;
	cursor: pointer;
	transition: 400ms;
	border: 1px solid transparent;
	padding: .5rem;
}

li:hover {
	box-shadow: 0 6px 10px rgba(0, 0, 0, .23), 0 10px 30px rgba(0, 0, 0, .15);
	transform: translateY(-.25rem);
}

li.active {
	background-color: greenyellow;
}

@media screen and (min-width: 40em) {
	li {
		padding: 1rem;
		font-size: 3rem;
	}
}

li[data-description='undefined'] {
	display: none;
}

li:last-child {
	flex-grow: 0;
}

.button {
	align-items: center;
	border: 1px solid transparent;
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;

	display: inline-flex;
	font-size: 1rem;
	height: 2.25em;

	justify-content: flex-start;
	line-height: 1.5;
	padding-bottom: calc(.375em - 1px);
	padding-left: calc(.625em - 1px);
	padding-right: calc(.625em - 1px);
	padding-top: calc(.375em - 1px);
	position: relative;
	vertical-align: top;
	-webkit-touch-callout: none;
	user-select: none;
	background-color: #fff;
	border-color: #dbdbdb;
	color: #363636;
	cursor: pointer;

	justify-content: center;
	padding-left: .75em;
	padding-right: .75em;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	margin-bottom: 1rem;
}

.button:hover {
	border-color: #b5b5b5;
	color: #363636;
}

.button:active {
	border-color: #4a4a4a;
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
	color: #363636;
}

.button.is-success {
	background-color: #23d160;
	border-color: transparent;
	color: #fff;
}

.loader {
	pointer-events: none;
	display: block;
	transition: 100ms opacity ease-in-out;
	opacity: 1;
	position: absolute;
	top: 25vh;
	width: 4rem;
	height: 4rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 100;
}

.loader.loaded {
	opacity: 0;
}

.loader:after {
	animation: loading 400ms infinite linear;
	border: .2rem solid orchid;
	border-radius: 50%;
	border-right-color: transparent;
	border-top-color: transparent;
	content: "";
	display: block;
	height: 4rem;
	width: 4rem;
	z-index: 1;
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.footer {
	margin-top: 10vh;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-copy {
	margin: 0;
	font-size: .85rem;
}
